################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
*.pdb 
*.bak 
*.dll
*.lib 
packages/ 
/bin
/obj 
.vs/
