################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
.vs/JenkinSampleProject/v15/Server/sqlite3/db.lock
.vs/JenkinSampleProject/v15/Server/sqlite3/storage.ide-wal
.vs/JenkinSampleProject/v15/Server/sqlite3/storage.ide-shm
.vs/JenkinSampleProject/v15/Server/sqlite3/storage.ide
